<!DOCTYPE html>
<html>

<head>
  <style>
    span+span {
      margin-bottom: 10px;
    }

    .top-margin {
      margin-top: 10px;
    }

    .bottom-margin {
      margin-bottom: 15px;
    }

    .right-margin {
      margin-right: 10vw;
      margin-left: 10vw;
    }

    .left-margin {
      margin-left: 5px;
    }

    p {
      margin-right: 10px;
    }

    .in-line {
      display: inline-block;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=, initial-scale=1">
  <title>Hearth Listing</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    console.log("AA")
      function delListing(){
        console.log("deleting");
        $.get("https://shun.lib.id/hearth@dev/del_listing?uuid=" + "<%- listing.uuid %>", function (data) {
          console.log(data);
        }).fail((err) => {
          console.log(err);
        });
      }
    console.log("BB")
    </script>
</head>

<body>
  <section class="hero is-primary is-small">
    <!-- Hero head: will stick at the top -->

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Hearth
        </h1>
        <h2 class="subtitle">
          Thanks for helping!
        </h2>
      </div>
    </div>
  </section>

  <section class="right-margin">
    <div class="bottom-margin"> <%- listing.location.name %> </div>
    <div class="bottom-margin"> <%- listing.location.address %> </div>
    <div class="bottom-margin"> <%- listing.description %> </div>
    <div class="control">
      <button onclick="delListing()" id="go" class="button is-primary">
        Delete listing
      </button>
    </div>
  </section>
  
  
</body>

</html>